# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
bin/
vmlib/vmlib.vcxproj.user
vmlib/vmlib.vcxproj
vmlib-test/vmlib-test.vcxproj.user
vmlib-test/vmlib-test.vcxproj
third_party/x-stb.vcxproj.user
third_party/x-stb.vcxproj
third_party/x-rapidobj.vcxproj.user
third_party/x-rapidobj.vcxproj
third_party/x-glfw.vcxproj.user
third_party/x-glfw.vcxproj
third_party/x-glad.vcxproj.user
third_party/x-glad.vcxproj
third_party/x-fontstash.vcxproj.user
third_party/x-fontstash.vcxproj
third_party/x-catch2.vcxproj.user
third_party/x-catch2.vcxproj.filters
third_party/x-catch2.vcxproj
support/support.vcxproj.user
support/support.vcxproj
main/main.vcxproj.user
main/main.vcxproj
lib/x-stb-debug-x64-msc-v143.pdb
lib/x-stb-debug-x64-msc-v143.idb
lib/x-glfw-debug-x64-msc-v143.pdb
lib/x-glfw-debug-x64-msc-v143.idb
lib/x-glad-debug-x64-msc-v143.pdb
lib/x-glad-debug-x64-msc-v143.idb
lib/x-fontstash-debug-x64-msc-v143.pdb
lib/x-fontstash-debug-x64-msc-v143.idb
lib/vmlib-debug-x64-msc-v143.pdb
lib/vmlib-debug-x64-msc-v143.idb
lib/support-debug-x64-msc-v143.pdb
lib/support-debug-x64-msc-v143.idb
COMP3811-glcode.sln
assets/cw2/main-shaders.vcxproj.user
assets/cw2/main-shaders.vcxproj
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.tlog/x-stb.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.tlog/Lib.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.tlog/Lib-link.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.tlog/Lib-link.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.tlog/CL.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.tlog/Cl.items.tlog
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.tlog/CL.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.tlog/CL.26984.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb.log
_build_/debug-x64-msc-v143/x64/debug/x-stb/x-stb-debug-x64-msc-v143.lib.recipe
_build_/debug-x64-msc-v143/x64/debug/x-stb/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-stb/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-stb/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-stb/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-stb/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-stb/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-rapidobj/x-rapidobj.tlog/x-rapidobj.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/x-rapidobj/x-rapidobj.recipe
_build_/debug-x64-msc-v143/x64/debug/x-rapidobj/x-rapidobj.log
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.tlog/x-glfw.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.tlog/Lib.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.tlog/Lib-link.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.tlog/Lib-link.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.tlog/CL.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.tlog/Cl.items.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.tlog/CL.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.tlog/CL.14084.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw.log
_build_/debug-x64-msc-v143/x64/debug/x-glfw/x-glfw-debug-x64-msc-v143.lib.recipe
_build_/debug-x64-msc-v143/x64/debug/x-glfw/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-glfw/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-glfw/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-glfw/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-glfw/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-glfw/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.tlog/x-glad.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.tlog/Lib.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.tlog/Lib-link.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.tlog/Lib-link.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.tlog/CL.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.tlog/CL.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.tlog/Cl.items.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.tlog/CL.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad.log
_build_/debug-x64-msc-v143/x64/debug/x-glad/x-glad-debug-x64-msc-v143.lib.recipe
_build_/debug-x64-msc-v143/x64/debug/x-glad/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-glad/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-glad/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-glad/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-glad/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-glad/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.tlog/x-fontstash.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.tlog/Lib.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.tlog/Lib-link.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.tlog/Lib-link.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.tlog/CL.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.tlog/CL.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.tlog/Cl.items.tlog
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.tlog/CL.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash.log
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/x-fontstash-debug-x64-msc-v143.lib.recipe
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-fontstash/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-catch2/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-catch2/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-catch2/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/x-catch2/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/x-catch2/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/x-catch2/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/vmlib.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/Lib.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/Lib-link.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/Lib-link.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/CL.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/Cl.items.tlog
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/CL.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/CL.27668.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.log
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib-debug-x64-msc-v143.lib.recipe
_build_/debug-x64-msc-v143/x64/debug/vmlib/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/vmlib/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/vmlib/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/vmlib/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/vmlib/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/vmlib/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/vmlib-test/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/vmlib-test/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/vmlib-test/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/vmlib-test/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/vmlib-test/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/vmlib-test/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/support/support.tlog/support.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/support/support.tlog/Lib.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/support/support.tlog/Lib-link.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/support/support.tlog/Lib-link.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/support/support.tlog/CL.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/support/support.tlog/Cl.items.tlog
_build_/debug-x64-msc-v143/x64/debug/support/support.tlog/CL.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/support/support.tlog/CL.10696.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/support/support.log
_build_/debug-x64-msc-v143/x64/debug/support/support-debug-x64-msc-v143.lib.recipe
_build_/debug-x64-msc-v143/x64/debug/support/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/support/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/support/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/support/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/support/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/support/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/main/vc143.pdb
_build_/debug-x64-msc-v143/x64/debug/main/vc143.idb
_build_/debug-x64-msc-v143/x64/debug/main/microsoft/STL/std.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/main/microsoft/STL/std.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/main/microsoft/STL/std.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/main/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
_build_/debug-x64-msc-v143/x64/debug/main/microsoft/STL/std.compat.ixx.ifc.dt.module.json
_build_/debug-x64-msc-v143/x64/debug/main/microsoft/STL/std.compat.ixx.ifc.dt.d.json
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/main.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/link.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/link.secondary.1.tlog
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/link.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/link.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/CL.write.1.tlog
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/CL.read.1.tlog
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/Cl.items.tlog
_build_/debug-x64-msc-v143/x64/debug/main/main.tlog/CL.command.1.tlog
_build_/debug-x64-msc-v143/x64/debug/main/main.log
_build_/debug-x64-msc-v143/x64/debug/main/main-debug-x64-msc-v143.ilk
_build_/debug-x64-msc-v143/x64/debug/main/main-debug-x64-msc-v143.exe.recipe
_build_/debug-x64-msc-v143/x64/debug/main-shaders/main-shaders.tlog/main-shaders.lastbuildstate
_build_/debug-x64-msc-v143/x64/debug/main-shaders/main-shaders.recipe
_build_/debug-x64-msc-v143/x64/debug/main-shaders/main-shaders.log
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/graphics-cwk2/v17/DocumentLayout.json
.vs/graphics-cwk2/v17/Browse.VC.db
.vs/graphics-cwk2/v17/.wsuo
.vs/graphics-cwk2/FileContentIndex/6d9de74c-989b-4aaf-8247-ded52944edc8.vsidx
.vs/COMP3811-glcode/v17/Solution.VC.db-wal
.vs/COMP3811-glcode/v17/Solution.VC.db-shm
.vs/COMP3811-glcode/v17/Solution.VC.db
.vs/COMP3811-glcode/v17/ipch/AutoPCH/c129a223159755db/MAIN.ipch
.vs/COMP3811-glcode/v17/DocumentLayout.json
.vs/COMP3811-glcode/v17/Browse.VC.opendb
.vs/COMP3811-glcode/v17/Browse.VC.db-wal
.vs/COMP3811-glcode/v17/Browse.VC.db-shm
.vs/COMP3811-glcode/v17/Browse.VC.db
.vs/COMP3811-glcode/v17/.suo
.vs/COMP3811-glcode/FileContentIndex/60e152c4-aeb8-4afe-8c16-c535666c73ed.vsidx

Makefile

*.make
_build_/debug-x64-msc-v143/x64/debug/vmlib/vmlib.tlog/CL.write.1.tlog
.vs/COMP3811-glcode/v17/ipch/AutoPCH/ea464f93b26c704f/TEXTURE.ipch
.vs/COMP3811-glcode/v17/ipch/AutoPCH/4f475916f06469ad/MAT44.ipch
.vs/COMP3811-glcode/v17/ipch/AutoPCH/47f834144c4b09f6/ROCKET.ipch
.vs/COMP3811-glcode/v17/ipch/AutoPCH/3d3de24b600022e4/VCTMP47712_244197.MAIN.00000000.ipch
.vs/COMP3811-glcode/v17/fileList.bin
.vs/COMP3811-glcode/v17/DocumentLayout.backup.json
.vs/COMP3811-glcode/FileContentIndex/b4049fbe-8a91-4078-b1ba-930fb3dc9476.vsidx
.vs/COMP3811-glcode/FileContentIndex/4f46ef86-1f1d-40f6-b754-6a7dbf379d1f.vsidx
.vs/COMP3811-glcode/FileContentIndex/39f15248-4d3f-4a71-b478-62d46a42e20c.vsidx
.vs/COMP3811-glcode/FileContentIndex/2d4d4111-6ab1-41a5-b7d5-2bf0d977e795.vsidx
.vs/COMP3811-glcode/FileContentIndex/2b6551b0-2a27-4434-83ad-94d9aaad3428.vsidx
